#scaleDiv {
    transform-origin: top left;
    overflow: auto;
    display: flex;
}


#widgetScale {
    width: 0.1%;
    height: 0.1%;
    position: relative;
    left: -20px;
    z-index: -100;
    transform-origin: top left;
}

#widgetDrag {
    position: relative;
    z-index: 99;
}

#widget {
    position: relative;
    z-index: 99;
}

#credits {
    bottom: 0px;
    position: fixed;
    padding-left: 10px;
    padding-bottom: 5px;
}

#widgetContain {
    width: 0.1%;
    height: 0.1%;
    position: relative;
    z-index: 99;
    margin-left: 5%;
}

#coord {
    margin-left: 5%;
}

body {
    background-image: url("./images/crossline-dots.png");
    background-repeat: repeat;
}



canvas {
    image-rendering: pixelated;
    overflow: hidden;
}

/* #mainCanvas {
    margin: 0 auto;
} */

.loginMessage {
    height: 50px;
    background-color: transparent;
}


#containment {
    overflow: auto;
    margin: 0 auto;
}

#container {
    background-color: grey;
    border: 2px solid grey;
    border-radius: 5px;
    padding: 5px;
}

.bottomRow {
    background-color: white;
}

.horizantalDivider {
    display: none;
}

@media only screen and (max-width: 768px) {
    .verticalDivider {
        display: none;
    }
    .horizantalDivider {
        display: block;
    }
}



