#scaleDiv {
    transform-origin: top left;
    overflow: auto;
}


#widgetScale {
    position: relative;
    z-index: 99;
    transform-origin: top left;
}

#widgetDrag {
    position: relative;
    z-index: 99;
}

#widget {
    position: relative;
    z-index: 99;
}



#widgetContain {
    position: relative;
    z-index: 99;
    margin-left: 5%;
}

#coord {
    margin-left: 5%;
}



canvas {
    image-rendering: pixelated;
    overflow: hidden;
}


#containment {
    overflow: auto;
    float: left;
    margin: 0 0;
}

